
/*bottom cerrar*/
a.popup-cerrar{
	
	
   position: absolute;
   top:3px;
   right:3px;
   background-color: red;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
	
    

}
/*todo el texto de la ventana del formulario*/
#formulario{
	color: black;
	
	}
/*ventana de con la X y responsable del formulario*/
#up{
	position:fixed;
	z-index:2;
	background: rgba(225, 05, 0, 0.3);
	top: 0;
  	left: 0;
  	height: 100vh;
  	width: 100vw;
  	transition: all .5s;
	
	}
/*pagina despues de formulario */
#down{
	position:fixed;
	z-index:1;
	margin-top:  100px;
	width:200px;
	 
  	background-color:#e91f27;	
}