
/*propiedades del modal general -nuevo*/
.modal{
    transition: all 1.5s;
    position: fixed; /* scroll */
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /*trnasparencia full ancho */
    height: 100%; /* transparencia full alto */
    overflow: auto; 
    background-color: rgba(255, 255, 255, 0.8); /* opacidad blanca */
    -webkit-animation-name: prueba; 
    -webkit-animation-duration: 3s; 
    animation-name: prueba;
    animation-duration: 3s; 
}
/* boton inisiar session*/
<<<<<<< HEAD

=======
button.inisesion{
        border-radius: 8px 8px 8px 8px;
        position: absolute;
        top:3px;
        right:40px;
        padding: 9.5px 0px;
        font-family: avan;
        font-size: 12px;
        width: 95px;
        color:white;
        background-color: red;
        border: none;
        transition: all 0.3s ease;
        cursor:pointer;
    
        }
button:hover.inisesion {
    -webkit-transform: scale(0.8); 
    -ms-transform: scale(0.8); 
    transform: scale(0.8);
    } 
>>>>>>> 098db7a826fddb8c84a327999c97630921c8b74b

/*bottom cerrar*/
/* mouse over achicar*/
a:hover.cerrar {
    -webkit-transform: scale(0.8); 
    -ms-transform: scale(0.8); 
    transform: scale(0.8);
     } 
   
a.cerrar{
   border-radius: 8px 8px 8px 8px;
   position: absolute;
   top:3px;
   font-family: avan;
   font-weight: 600;
   right:3px;
   background-color: red;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
   transition: all 0.3s ease;
    /* relativo al :hover del buttom X  */
 }
/*a relativo al background*/

/*logo*/
img[src="img/logo.png"]
    {
    position: relative;
    display:block; 
    margin:auto;
      
     transition: margin 1.2s linear;
    -webkit-transition: margin 1.2s linear; 
    -ms-transition: margin 1.2s linear; 
    -moz-transition: margin 1.2s linear;
     } 

@keyframes prueba {
    from {opacity: .001;}
    to {opacity: 1;}
}
/*type avangarden*/
div.avan
      {
      font-family:avan;
      text-align: center;
                  }
@keyframes prueba {
    from {opacity: .001;}/**/
    to {opacity: .99 ;}/**/
}  
/* Nuevo Propiedad de bienevenido, cambien el nombre del class por pro-type. */
#pro-type{
      font-size: 60.53px;
      font-weight: bold;
      color: #e72127;
      }

/*propiedades del modal-pop-up */
.contenido-modal{
    position: relative;
    margin: auto;
    padding: 0;
    width: 327px; /*ancha el pop up gris*/
}
/*propiedades del formulario*/
.modal-body {
    padding: 2px 16px;
    background-color: grey;
    height: 400px; /*ancha el formulario */
    border-radius: 8px 8px 8px 8px;
    font-family:verdana;
    color: white;
    font-size: 12px;
    
}

/*texto del formulario unase en el pricipio del formulario */
#unase{
    top: 8px;
    position: relative;
    color:white;
    font-weight: bold;
    font-size: 20.3px;
    font-family:verdana;
    margin-right: 0px;/**/
}


@font-face
{font-family: 'verdana'; src: url('type/verdana.ttf');}

#fecha{ font-size: 20px; margin-top:10px; }

#terminos{ margin-top:10px; }
#recibirmail{margin-top:10px;font-size: 15px;text-align: center;}
#button{display:block; 
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top:10px;;
    background-color:red;
    color:white;
    border:none;
    font-size: 15px;
    cursor:pointer;
    padding: 10px 24px;
    border-radius: 5px 5px 5px 5px;}

/*nuevo-medidas input del formulario */
.caja
{
   margin-top:10px;
    width:290px;
    height:25px;
    
}

#contenido{
    z-index: -1;
}

/*contenido página Down */









