
@media screen and (min-width:1920px) and (max-width:7680px)/*ancho fijo pantalla grande*/
{
   
}

@media screen and (min-width:1280px) and (max-width:1920px)/*ancho fijo portatil*/
{
    
}
@media screen and (min-width:800px) and (max-width:1280px)/*ancho fijo pc de mesa*/
{
   
}
@media screen and (min-width:480px) and (max-width:800px)/*ancho fijo tablet*/
{
   
    }
@media screen and (min-width:240px) and (max-width:480px)/*ancho fijo celular*/
{
    a.cerrar{
        font-family:avan;
        padding-bottom: 2px;
    }
    img[src="img/logo.png"]{
        height: 29px;
        width: 168px;
        position: relative;
        display:block; 
        margin:auto;
        
    }
    
    #pro-type{
        font-size: 30.53px;
        font-weight: bold;
        color: #e72127;
      } 
    div.avan
      {
        font-family:avan;   
        text-align: center;
        margin-bottom: 0px;
                  }
    .modal{
        padding-top: 52px;
    }
    .contenido-modal{
        width: 181px;
        position: relative;
        margin: auto;
        padding: 0;
    
    }
    #unase{
        margin-left: 6px;
        margin-right: 6px;
        margin-bottom: 12px;
        font-size: 11.5px;
                }
    .modal-body{
        padding: 0px 0px;
        background-color: grey;
        height: 276px; /*ancha el formulario */
        border-radius: 0px 0px 0px 0px;
    }
    .caja{
        width:172px;/*161 o 172*/
        height:22px;
        display: block;
        margin-top: 3px;
        margin-bottom: 0px;;
        margin-left: 2px;
        margin-right: 2px;
    }
    #fecha{
        font-size: 14.1px;/*nuevo tamñano */
        font-weight: 550;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 2px;
        
    }
    input[type=radio]{
        display: inline-block;
        margin-left: 6px;
        width   : 13px;
        height: 13px;
        
    }
    #terminos{
        text-align: justify;
        font-size: 7px;
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 0px;
        margin-top: 2px;
    }
    #button{
        font-size: 16px;
        padding: 2px 20px;
        border-radius: 4px 4px 4px 4px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        background-color: red;
            }

    #recibirmail{
        font-size: 10.1px;
        font-weight: 550;
        text-align: center;
        margin-top: 2px;
            }
    
    .sex{/*sexo */
        font-size: 11px;
        text-align: left;
    }
    .select{
        margin-left: 6px;
        width:50px;
        font-size:13px;
        
        
    }
    .inisesion{
        border-radius: 8px 8px 8px 8px;
        position: absolute;
        top:3px;
        right:38px;
        background-color: red;
        padding:1px 0px;
        font-size: 12px;
        text-decoration: none;
        line-height: 1;
        color:#fff;
        transition: all 0.3s ease;
    }
       }