@media screen and (min-width:320px)and (max-width:720px) /*ancho fijo celular*/
{
  #mimodal{
    padding-top: 50px; /*mueve el logo, bienvenido y formulario*/
    }    a.cerrar{
        padding-bottom: 0px;
        padding-top: 5px;
        font-size: 25px;
        font-weight: 600;
    } 
    button.inisesion{
       padding-top: 8px;
        padding-bottom: 6px;/* espacio del lado del 
        boton */
        text-align: center;
        font-size: 12px;
        margin-right: 5px;
        
         
        
        
        }
.contenido-modal{
    
    width: 327px; /*ancha el formulario*/
     
}
/*propiedades del formulario */
.modal-body {
    
    height: 400px; /*le da el alto al formulario */
    
    
}
 
}
@media screen and (min-width:721px) and (max-width:1080px)/*ancho fijo portatil*/
{
    
}


@media screen and (min-width:1081px) and (max-width:1920px)/*ancho fijo tablet*/
{
   
    }
