@media screen and (min-width:400px)and (max-width:1919px) /*ancho fijo celular*/
{
   button.inisesion{
       
        top:3px;
        right:40px;
        padding: 10px 10px;
        
        font-size: 12px;
        
        }

 
}
@media screen and (min-width:1280px) and (max-width:1920px)/*ancho fijo portatil*/
{
    
}
@media screen and (min-width:800px) and (max-width:1280px)/*ancho fijo pc de mesa*/
{
   
}
@media screen and (min-width:1920px) and (max-width:7680px)/*ancho fijo pantalla grande*/
{
   
}



@media screen and (min-width:480px) and (max-width:800px)/*ancho fijo tablet*/
{
   
    }
