@media screen and (min-width:320px) and (max-width:720px)/*ancho fijo celular*/
{
    body {
        color: white;
        background-color:black;
        }
     
    }

@media screen and (min-width:721px) and (max-width:1080px)/*ancho fijo portatil*/
{
    body {
        color:red;
        background: white;
        }
    
}
@media screen and (min-width:1081px) and (max-width:1920px)/*ancho fijo pc de mesa*/
{
    body {
        color:yellow;
        background-color:blueviolet;
}
  }