
@media screen and (max-width: 500px)
{
	.modal
    {
    padding-top: 50px;
    }
    .form
    {  
    font-size: 12px;
    margin-top: 8px;
    }
    .modal-body {
    position: relative;
    top: -2px; /*posicion del formulario (el espacio gris)*/ 
    }
    .input
    {
    margin-top:10px;
    width:265px;
    height:30px;
    }

    .form{font-size: 10px; margin-top: 8px;}

    #boton{margin-top:10px;}
 }
}